<a href="https://colab.research.google.com/github/thekateee23/cs102/blob/homework06/%D0%97%D0%B0%D1%89%D0%B8%D1%82%D0%B0_%D0%9B%D0%A03_1_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [33]:
import pandas as pd
import numpy as np
from sklearn.datasets import load_diabetes
import matplotlib.pyplot as plt
import seaborn as sns
from random import choice



Воспользуемся стандартным датасетом `titanic`. Загрузим его из модуля `seaborn`.

In [34]:
data = sns.load_dataset("titanic") # загружаем датасет
data.head() # выводим первые 5 строк

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

Номер варианта - ваш номер в списке группы в ведомости. 0 игнорируем.

In [ ]:
pd.DataFrame([[choice(range(1,6)), choice(range(1,6))] for _ in range(26)], columns=["Задание 1", "Задание 2"])

    Задание 1  Задание 2
0           2          4
1           3          3
2           5          3
3           4          3
4           3          2
5           4          1
6           4          2
7           2          5
8           3          1
9           5          5
10          2          5
11          1          1
12          2          5
13          4          5
14          1          3
15          5          3
16          3          3
17          3          5
18          4          2
19          3          1
20          4          3
21          3          4
22          3          5
23          2          3
24          4          5
25          2          3

## Задание 1 (согласно варианту)

1. Выведите количество **мужчин** из города **Cherbourg**, занимавших каюту в **первом классе** плыли **с семьей** и **выжили**? Также выведите средний возраст мужчин (медиану) и строки таблицы, удовлетворяющие условию.

In [ ]:
# PUT YOUR CODE HERE

2. Кого среди **погибших**, занимавших каюту на палубе **С**, больше: мужчин или женщин? Во сколько раз больше?

In [35]:
deck_c = data[(data['deck'] == 'C') & (data['survived'] == 0)]

male_count = (deck_c['sex'] == 'male').sum()
female_count = (deck_c['sex'] == 'female').sum()


if male_count > female_count:
    print("Мужчин погибло на палубе С больше, чем женщин, ", round(male_count / female_count, 2), "раз")
else:
    print("Женщин погибло на палубе С больше, чем мужчин, ", round(female_count / male_count, 2), "раз")

Мужчин погибло на палубе С больше, чем женщин,  7.0 раз

3. C какой палубы (столбец `deck`) значительно больше спасшихся, чем погибших? Значительно означает, что разница больше 5.

In [ ]:
# PUT YOUR CODE HERE

4. Из какого города спаслось больше мужчин не старше 30 лет, чем женщин? Из какого наоборот?

In [ ]:
# PUT YOUR CODE HERE

5. Какая средняя цена за билет в каждом классе? Существенно ли различается цена за билет для женщин и для мужчин в каждом классе?

In [ ]:
# PUT YOUR CODE HERE

## Задание 2 (согласно варианту)

1. Покажите распределение погибших и спасшихся пассажиров по палубам на графике.

In [ ]:
# PUT YOUR CODE HERE

2. Покажите распределение цены за билет у погибших и спасшихся пассажиров.

In [ ]:
# PUT YOUR CODE HERE

3. Покажите на графике, сколько пассажиров из каждого города отмечено в датасете.

In [ ]:
# PUT YOUR CODE HERE

4. На диаграмме с группировкой покажите, кого было больше в каждой возрастной группе: выживших или погибших? Возрастной группой считаем каждые десять лет: 0-10, 11-20, 21-30 и т.д.

In [ ]:
# PUT YOUR CODE HERE

5. На кольцевой диаграмме покажите, как распределилось число выживших среди мужчин и женщин с каждой палубы.

In [37]:
import plotly.express as px 
 
df = data.query("alive == 'yes'").dropna()[["deck", "sex"]].reset_index() 
display(df) 
fig = px.sunburst(df, path=["deck", "sex"]) 
fig.show()

     index deck     sex
0        1    C  female
1        3    C  female
2       10    G  female
3       11    C  female
4       21    D    male
..     ...  ...     ...
118    862    D  female
119    871    D  female
120    879    C  female
121    887    B  female
122    889    C    male

[123 rows x 3 columns]